{% extends 'main/main.html' %}
{% load static %}
    {% block css %}
        <link rel=stylesheet href="{% static 'css/course.min.css' %}">
    {% endblock %}
{% block content %}
    <main>
        <section class=hero>
            <div class=underlay>
                <div class="underlay_bg rellax"></div>
            </div>
            <div class="container d-flex flex-column align-items-center"><span
                    class="hero_icon d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-laptop icon"></i>
                </span>
                <h3 class=hero_header>Kompyuter savodxonligi kursi</h2>
                <p class=hero_text>
                   Siz ushbu kurs davomida kompyutering kelib chiqish tarixi, qanday tuzilganligi
                   va kompyuter uchun muhim bolgan dasturlar bilan ishlashni o'rganasiz.
                </p>
              
             
            </div>
        </section>
    
    </main>
{% endblock %}