<!DOCTYPE html>
<html lang=en>

<head>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1">
        <meta http-equiv=X-UA-Compatible content="ie=edge">
        <title>Bobil Academy</title>
        <script id=www-widgetapi-script src=https://s.ytimg.com/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js async=""></script>
        <script src=https://www.youtube.com/player_api></script>
        <link rel="stylesheet preload" as=style href="{% static 'css/preload.min.css' %}">
        <link rel="stylesheet preload" as=style href="{% static 'css/icomoon.css' %}">
        <link rel="stylesheet preload" as=style href="{% static 'css/libs.min.css' %}">
        <link rel=stylesheet href="{% static 'css/index.min.css' %}">
        <link rel=stylesheet href="{% static 'css/floatbutton.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <link rel=stylesheet href="{% static 'css/lessons.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static 'svg/icons.png' %}" class="">
</head>

<body>

    <h1>SSSS</h1>

</body>

</html>