{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block nav %}
<li class="nav-item menu-items ">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span class="menu-icon">
      <i class="mdi mdi-airplay"></i>
    </span>
    <span class="menu-title">Home</span>
  </a>
</li>
<li class="nav-item menu-items active">
  <a class="nav-link" href="{% url 'course' %}">
    <span class="menu-icon">
      <i class="mdi mdi-book"></i>
    </span>
    <span class="menu-title">Course</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'modul' %}">
    <span class="menu-icon">
      <i class="mdi mdi-book"></i>
    </span>
    <span class="menu-title">Modul</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'teacher' %}">
    <span class="menu-icon">
      <i class="mdi mdi-account"></i>
    </span>
    <span class="menu-title">Teachers</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'student' %}">
    <span class="menu-icon">
      <i class="mdi mdi-account-multiple-outline"></i>
    </span>
    <span class="menu-title">Student</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'payment' %}">
    <span class="menu-icon">
      <i class="mdi mdi-currency-usd"></i>
    </span>
    <span class="menu-title">Payment</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'payment_history' %}">
    <span class="menu-icon">
      <i class="mdi mdi-currency-usd"></i>
    </span>
    <span class="menu-title">Payment History</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'statistics' %}">
    <span class="menu-icon">
      <i class="mdi mdi-contacts"></i>
    </span>
    <span class="menu-title">statistics</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'news' %}">
    <span class="menu-icon">
      <i class="mdi mdi-message"></i>
    </span>
    <span class="menu-title">News</span>
  </a>
</li>
<li class="nav-item menu-items " >
  <a class="nav-link" href="{% url 'register' %}">
    <span class="menu-icon">
      <i class="mdi mdi-message"></i>
    </span>
    <span class="menu-title">Register</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'sugessions' %}">
      <span class="menu-icon">
          <i class="mdi mdi-message"></i>
      </span>
      <span class="menu-title">Suggesions</span>
  </a>
</li>
<li class="nav-item menu-items" >
  <a class="nav-link" href="{% url 'group' %}">
    <span class="menu-icon">
      <i class="mdi mdi-message"></i>
    </span>
    <span class="menu-title">Group</span>
  </a>
</li>
{% if request.user.is_staff %}
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'admins' %}">
        <span class="menu-icon">
            <i class="mdi mdi-message"></i>
        </span>
        <span class="menu-title">Admins</span>
    </a>
</li>
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 grid-margin stretch-card" id="subjectform">
    <div style="width: 800px !important;" class="card">
      <div class="card-body">
        <form method="post" class="forms-sample" enctype="multipart/form-data">
          {% csrf_token %}
          {% if user_form %}
          {{ user_form | crispy }}
          {% endif %}
          {{ form | crispy }}
          <input type="submit" class="btn btn-inverse-success" value="Update">
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}