{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block nav %}
<li class="nav-item menu-items ">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span class="menu-icon">
      <i class="mdi mdi-airplay"></i>
    </span>
    <span class="menu-title">Home</span>
  </a>
</li>
<li class="nav-item menu-items ">
  <a class="nav-link" href="{% url 'course' %}">
    <span class="menu-icon">
      <i class="mdi mdi-book"></i>
    </span>
    <span class="menu-title">Course</span>
  </a>
</li>
<li class="nav-item menu-items active">
  <a class="nav-link" href="{% url 'modul' %}">
    <span class="menu-icon">
      <i class="mdi mdi-book"></i>
    </span>
    <span class="menu-title">Modul</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'teacher' %}">
    <span class="menu-icon">
      <i class="mdi mdi-account"></i>
    </span>
    <span class="menu-title">Teachers</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'student' %}">
    <span class="menu-icon">
      <i class="mdi mdi-account-multiple-outline"></i>
    </span>
    <span class="menu-title">Student</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'payment' %}">
    <span class="menu-icon">
      <i class="mdi mdi-currency-usd"></i>
    </span>
    <span class="menu-title">Payment</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'payment_history' %}">
    <span class="menu-icon">
      <i class="mdi mdi-currency-usd"></i>
    </span>
    <span class="menu-title">Payment History</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'statistics' %}">
    <span class="menu-icon">
      <i class="mdi mdi-contacts"></i>
    </span>
    <span class="menu-title">statistics</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'news' %}">
    <span class="menu-icon">
      <i class="mdi mdi-message"></i>
    </span>
    <span class="menu-title">News</span>
  </a>
</li>
<li class="nav-item menu-items " >
  <a class="nav-link" href="{% url 'register' %}">
    <span class="menu-icon">
      <i class="mdi mdi-message"></i>
    </span>
    <span class="menu-title">Register</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="{% url 'sugessions' %}">
      <span class="menu-icon">
          <i class="mdi mdi-message"></i>
      </span>
      <span class="menu-title">Suggesions</span>
  </a>
</li>
<li class="nav-item menu-items" >
  <a class="nav-link" href="{% url 'group' %}">
    <span class="menu-icon">
      <i class="mdi mdi-message"></i>
    </span>
    <span class="menu-title">Group</span>
  </a>
</li>
{% if request.user.is_staff %}
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'admins' %}">
        <span class="menu-icon">
            <i class="mdi mdi-message"></i>
        </span>
        <span class="menu-title">Admins</span>
    </a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="page-header">
  <button class="btn btn-inverse-success" id="add">Add new modul</button>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card" id="subjectform" style="display: none;">
    <div style="width: 800px !important;" class="card">
      <div class="card-body">
        <form method="post" class="forms-sample" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleSelectGender">Select Course</label>
            <select class="form-control" name="course" id="exampleSelectGender" required>
              {% for course in courses %}
              <option value="{{ course.id }}">{{ course.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Fan nomi" required>
          </div>
          <div class="form-group">
            <div class="input-group col-xs-12">
              <label for="image-file">Image</label>
              <input name="image" type="file" id="image-file" style="cursor: pointer" accept="image/*"
              placeholder="Fan rasmi" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Description</label>
            <textarea name="description" class="form-control" id="exampleInputName1" cols="30" rows="10"
              required>Description...</textarea>
          </div>
          <button type="submit" class="btn btn-outline-success mr-2">Saqlash</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Modullar ro'yhati</h4>
        <div class="table-responsive">
          <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th> Tartib raqami </th>
                <th> Nomi </th>
                <th> Kurs </th>
                <th> Yangilash </th>
                <th> O'chirish </th>
              </tr>
            </thead>
            <tbody>
              {% for s in moduls %}
              <tr id="{{ s.id }}">
                <td>{{ forloop.counter }}</td>
                <td style="text-align: justify;"><img src="{{ s.imageURL }}" alt="image" /><span class="pl-2">{{ s.name }}</span></td>
                <td>{{ s.course.name }}</td>
                <td><a href="{% url 'update_modul' s.pk %}">
                    <div class="badge badge-outline-success">Update</div>
                  </a></td>
                <td><i onclick="removeModul({{ s.id }})" style="cursor: pointer; font-size: 30px"
                    class="mdi mdi-delete-circle"></i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block script %}
<script nonce="{{ request.csp_nonce }}">

  $(document).ready(function () {
    $('#add').click(function () {
      $('#subjectform').slideToggle(1000)
    })
    $('#update').click(function () {
      $('#subjectupdate').slideToggle(1000)
    })
  })

</script>
{% endblock %}